<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TTMDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AD23E8D1FBC5F1B00A18296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AD23EA11FBC5F1B00A18296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AD23EAC1FBC5F1B00A18296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
